/* Container du dropdown */
.dropdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s ease;
}

.dropdown-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: .5rem;
    font-size: 18px;
    color: $black;
    background-color: $grey;
    border-radius: 1rem;
    position: relative;
}

h3 {
    color: $white;
    font-size: 24px;
    font-weight: 700;
}

.dropdown-icon {
    transition: transform 0.4s ease;
}

.dropdown-icon.open {
    transform: rotate(180deg);
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
}

/* Style du contenu une fois ouvert */
.dropdown-content.open {
    max-height: fit-content;
    opacity: 1;
}

.dropdown-content p {
    margin: 0;
    padding: .5rem;
    color: $black;
    font-size: 18px;
    transition: opacity 0.4s ease;
}

.dropdown.open .dropdown-content p {
    opacity: 1;
}

.dropdown .dropdown-content p {
    opacity: 0;
}


// .dropdown-toggle {
//     display: flex;
//     width: 100%;
//     background-color: #FF6060;
//     padding: 1rem;
//     cursor: pointer;
//     color: #ffffff;
//     font-size: 18px;
//     border-radius: .5rem;
//     align-items: center;
//     justify-content: space-between;
// }

// .dropdown-content {
//     max-height: 0;
//     overflow: hidden;
//     transition: max-height 0.5s ease-out;
//     /* Appliquer la transition globale */
//     opacity: 0;
//     background-color: aqua;
//     color: $black;
//     font-size: 18px;
//     padding: 1rem;
//     border-radius: 0rem 0rem 1rem 1rem;
// }

// .dropdown-content.open {
//     max-height: 100%;
//     transition: max-height 2.5s ease-out;
//     opacity: 1;
// }

// .dropdown-icon {
//     transition: transform 0.4s ease;
// }

// .dropdown-icon.open {
//     transform: rotate(180deg);
// }
/*************************************************************/

// .dropdown-toggle {
//     display: flex;
//     width: 100%;
//     background-color: #FF6060;
//     padding: 1rem;
//     cursor: pointer;
//     color: #ffffff;
//     font-size: 18px;
//     border-radius: .5rem;
//     align-items: center;
//     justify-content: space-between;
// }

// .dropdown-content {
//     max-height: 0;
//     overflow: hidden;
//     transition: max-height 0.4s ease-out;
//     opacity: 0;
//     transition: opacity 0.3s ease-out;


//     border-radius: 0rem 0rem 1rem 1rem;
//     //   background: $grey;
//     background-color: aqua;
//     color: $black;
//     font-size: 18px;
//     padding: 1rem;

// }

// .dropdown-toggle.open {
//     border-radius: 0;
// }

// .dropdown-content.open {
//     max-height: 500px;
//     /* Valeur assez grande pour contenir le contenu complet */
//     opacity: 1;
//     transition: max-height 0.5s ease-in, opacity 0.4s ease-in;
// }

// .dropdown-icon {
//     transition: transform 0.4s ease;
// }

// .dropdown-icon.open {
//     transform: rotate(180deg);
// }


// * {
//     margin: 0;
// }

// .dropdown {
//     position: relative;
//     width: 100%;
// }

// .dropdown__toggle {
//     display: flex;
//     width: 100%;
//     background-color: #FF6060;
//     padding: 1rem;
//     cursor: pointer;
//     color: #ffffff;
//     font-size: 18px;
//     border-radius: .5rem;
//     align-items: center;
//     justify-content: space-between;
// }

// .dropdown__icon {
//     transition: transform 0.3s ease;
// }

// .dropdown__icon.open {
//     transform: rotate(180deg);
// }

// .dropdown__content {
//     max-height: 0;
//     overflow: hidden;
//     transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
//     ;
//     opacity: 0;
//     border-radius: 0rem 0rem 1rem 1rem;
//     //   background: $grey;
//     background-color: aqua;
//     color: $black;
//     font-size: 18px;
//     padding: 1rem;
// }

// .dropdown.open .dropdown__content {
//     //  border-radius: 1rem 1rem 0rem 0rem;
//     max-height: 800px;
//     opacity: 1;
// }