.dropdowns-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

@media screen and (max-width: 650px) {
    .dropdowns-container {
        gap: 1.25rem;
    }
}