@import "./styles/settings";

.rental-banner {
    max-height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

.tags {
    color: $white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 1rem;
    background: $red;
    border-radius: 6rem;
}